<div class="container-fluid bg-dark">
  <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="logo" width="60">
    </a>
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }"  id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="user === undefined || user === null" class="nav-item active">
          <a routerLink="signin" class="btn btn-outline-light">Log in</a>
        </li>

        <li *ngIf="user === undefined || user === null" class="nav-item active">
          <a routerLink="signup" class="btn btn-light">Sign up</a>
        </li>

        <li *ngIf="user"  class="nav-item active">
          <a class="btn btn-light" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
